Repository GSA-TTS/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Acquisition-Division, @gsa-tts/Office-of-Solutions, @gsa-tts/Centers-of-Excellence-Division, @gsa-tts/Technology-Operations-Division, @gsa-tts/Business-Operations-Division

Update title of working groups and guilds document (#4198)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Business-Operations-Division

Transposing internal updates
  pages/about-us/centers-of-excellence/operations/delivery-assurance.md
  pages/general-information-and-resources/collaboration-tools.md
  pages/general-information-and-resources/general-contacts.md
  pages/general-information-and-resources/sensitive-information.md
  pages/office-of-operations/bizops.md
  pages/office-of-operations/outreach.md
  pages/request-for-comments/004-bucket-hiring-approach.md
  pages/request-for-comments/index.md
  pages/supervisor-resources/new-supervisor-playbook/play-5.md
  pages/tools/channels/index.md
  pages/tools/figma.md
  pages/tools/git-signing.md
  pages/tools/github.md
  pages/tools/google-calendar.md
  pages/tools/google-drive.md
  pages/tools/invision.md
  pages/tools/npm.md
  pages/tools/pages.md
  pages/tools/sketch.md
  pages/tools/slack/external-collaboration.md
  pages/tools/slack/integrations.md
  pages/tools/tock.md
  pages/tools/vmware-fusion.md
  pages/training-and-development/conferences-events-training.md
  pages/training-and-development/intro-to-github.md
  pages/training-and-development/pra-for-user-research.md
  pages/travel-and-leave/going-out-of-office.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/updating-the-handbook/updating-the-handbook.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Technology-Operations-Division, @gsa-tts/Business-Operations-Division

fix broken internal links
  pages/about-us/centers-of-excellence/operations/delivery-assurance.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

In person review of remaining guild comments
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Business-Operations-Division

inperson edits
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Business-Operations-Division

Transposing internal updates (#4199)
  pages/about-us/centers-of-excellence/operations/delivery-assurance.md
  pages/general-information-and-resources/collaboration-tools.md
  pages/general-information-and-resources/general-contacts.md
  pages/general-information-and-resources/sensitive-information.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
  pages/office-of-operations/bizops.md
  pages/office-of-operations/outreach.md
  pages/request-for-comments/004-bucket-hiring-approach.md
  pages/request-for-comments/index.md
  pages/supervisor-resources/new-supervisor-playbook/play-5.md
  pages/tools/channels/index.md
  pages/tools/figma.md
  pages/tools/git-signing.md
  pages/tools/github.md
  pages/tools/google-calendar.md
  pages/tools/google-drive.md
  pages/tools/invision.md
  pages/tools/npm.md
  pages/tools/pages.md
  pages/tools/sketch.md
  pages/tools/slack/external-collaboration.md
  pages/tools/slack/integrations.md
  pages/tools/tock.md
  pages/tools/vmware-fusion.md
  pages/training-and-development/conferences-events-training.md
  pages/training-and-development/intro-to-github.md
  pages/training-and-development/pra-for-user-research.md
  pages/training-and-development/working-groups-and-guilds-101.md
  pages/travel-and-leave/going-out-of-office.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/updating-the-handbook/updating-the-handbook.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Technology-Operations-Division, @gsa-tts/Business-Operations-Division

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @gsa-tts/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the gsa-tts GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/gsa-tts/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                               @gsa-tts/GSA-TTS-Handbook-Owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                        @gsa-tts/GSA-TTS-Handbook-Owners

####################################################################
# Terraform & Infrastructure
####################################################################
/terraform/*                                                             @gsa-tts/GSA-TTS-Handbook-Owners
.github/workflows/*                                                      @gsa-tts/GSA-TTS-Handbook-Owners

##################################################################
# TTS Offices
################################################################
## Office of Operations
pages/office-of-operations/*                                             @gsa-tts/Outreach-and-Marketing-Division

## Office of Acquisition
pages/office-of-acquisition/*                                            @gsa-tts/Acquisition-Division

## Office of Solutions
pages/office-of-solutions/*                                              @gsa-tts/Office-of-Solutions

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @gsa-tts/Centers-of-Excellence-Division

## Tools
pages/tools/*                                                            @gsa-tts/Technology-Operations-Division

# Training
pages/training-and-development/*                                         @gsa-tts/Business-Operations-Division

# Travel and Leave
pages/travel-and-leave/*                                                 @gsa-tts/Business-Operations-Division
