Repository GSA-TTS/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Acquisition-Division, @gsa-tts/Office-of-Solutions, @gsa-tts/Centers-of-Excellence-Division, @gsa-tts/Technology-Operations-Division, @gsa-tts/Business-Operations-Division

set context to org
  terraform/main.tf
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

temp remove COE org chart
  _data/navigation.yml
  pages/about-us/centers-of-excellence/operations/onboarding.md
  pages/about-us/centers-of-excellence/operations/org-chart.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update benefits.md
  pages/getting-started/classes/benefits.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Fix links to handbook and GitHub
  pages/general-information-and-resources/san-francisco.md
  pages/launching-software/infrastructure.md
  pages/launching-software/lifecycle.md
  pages/launching-software/security.md
  pages/training-and-development/intro-to-github.md
  pages/updating-the-handbook/edit-in-github.md
  pages/updating-the-handbook/edit-locally.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Business-Operations-Division

Update how-to-log-in.md
  pages/getting-started/how-to-log-in.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update how-to-log-in.md
  pages/getting-started/how-to-log-in.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Fix links to handbook and GitHub
  pages/general-information-and-resources/san-francisco.md
  pages/launching-software/infrastructure.md
  pages/launching-software/lifecycle.md
  pages/launching-software/security.md
  pages/training-and-development/intro-to-github.md
  pages/updating-the-handbook/edit-in-github.md
  pages/updating-the-handbook/edit-locally.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Business-Operations-Division

Fix internal and broken links
  pages/about-us/centers-of-excellence/operations/glossary.md
  pages/general-information-and-resources/tech-policies/gsa-pages.md
  pages/hiring-staying-or-changing-jobs/hiring.md
  pages/launching-software/infrastructure.md
  pages/launching-software/lifecycle.md
  pages/launching-software/security.md
  pages/tools/figma.md
  pages/travel-and-leave/overtime.md
  pages/travel-and-leave/paid-parental-leave.md
  pages/updating-the-handbook/updating-the-handbook.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Technology-Operations-Division, @gsa-tts/Business-Operations-Division

add additional link check for absolute handbook URL
  package.json
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update washington-dc.md
  pages/general-information-and-resources/washington-dc.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update moving.md
  pages/travel-and-leave/travel-and-leave-policies/moving.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Test of fortify workflow
  .github/workflows/fortify.yml
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

use version 2 workflow
  .github/workflows/fortify.yml
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update external-collaboration.md
  pages/tools/slack/external-collaboration.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update edit-in-github.md
  pages/updating-the-handbook/edit-in-github.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update external-collaboration.md (#4179)
  pages/tools/slack/external-collaboration.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Add 'data:' font sources to the CSP, because the stylesheet uses them
  _includes/meta.html
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Add 'data:' font sources to the CSP, because the stylesheet uses them (#4183)
  _includes/meta.html
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update edit-in-github.md (#4180)
  pages/updating-the-handbook/edit-in-github.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update Dockerfile
  Dockerfile
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

[Snyk] Security upgrade node from 20 to node:20-slim (#4189)
  Dockerfile
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

EO 14168
  pages/about-us/code-of-conduct.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/san-francisco.md
  pages/general-information-and-resources/washington-dc.md
  pages/hiring-staying-or-changing-jobs/fair-and-equitable-hiring-practices.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

EO 14168 (#4192)
  pages/about-us/code-of-conduct.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/san-francisco.md
  pages/general-information-and-resources/washington-dc.md
  pages/hiring-staying-or-changing-jobs/fair-and-equitable-hiring-practices.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update github.md
  pages/tools/github.md
Owners: @gsa-tts/Technology-Operations-Division

Adding GSA org info
  pages/tools/github.md
Owners: @gsa-tts/Technology-Operations-Division

Adding GSA org info (#4193)
  pages/tools/github.md
Owners: @gsa-tts/Technology-Operations-Division

addresses/closes #4178
  pages/tools/slack/external-collaboration.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

peopleops references
  pages/office-of-operations/bizops.md
Owners: @gsa-tts/Outreach-and-Marketing-Division

outreach, bizops, marketing
  .github/copilot-instructions.md
  pages/office-of-operations/market-dev-and-partnerships.md
  pages/office-of-operations/outreach.md
  pages/office-of-operations/talent.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division

social media
  pages/office-of-operations/outreach.md
  pages/office-of-operations/social-media.md
Owners: @gsa-tts/Outreach-and-Marketing-Division

content and guilds
  pages/office-of-operations/blogging.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Business-Operations-Division

Addressing review comments
  _data/navigation.yml
  pages/office-of-operations/market-dev-and-partnerships.md
  pages/office-of-operations/outreach.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division

spell check and link fixes
  pages/office-of-operations/outreach.md
  pages/tools/slack/guidelines.md
Owners: @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/GSA-TTS-Handbook-Owners

Tts outreach edits 8 19 25 (#4195)
  .github/copilot-instructions.md
  _data/navigation.yml
  pages/office-of-operations/bizops.md
  pages/office-of-operations/blogging.md
  pages/office-of-operations/market-dev-and-partnerships.md
  pages/office-of-operations/outreach.md
  pages/office-of-operations/social-media.md
  pages/office-of-operations/talent.md
  pages/tools/slack/guidelines.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners, @gsa-tts/Outreach-and-Marketing-Division, @gsa-tts/Business-Operations-Division

Update washington-dc.md
  pages/general-information-and-resources/washington-dc.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update pages/general-information-and-resources/washington-dc.md
  pages/general-information-and-resources/washington-dc.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update washington-dc.md (#4197)
  pages/general-information-and-resources/washington-dc.md
Owners: @gsa-tts/GSA-TTS-Handbook-Owners

Update title of working groups and guilds document
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Business-Operations-Division

Update title casing in working groups document
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @gsa-tts/Business-Operations-Division

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @gsa-tts/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the gsa-tts GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/gsa-tts/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                               @gsa-tts/GSA-TTS-Handbook-Owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                        @gsa-tts/GSA-TTS-Handbook-Owners

####################################################################
# Terraform & Infrastructure
####################################################################
/terraform/*                                                             @gsa-tts/GSA-TTS-Handbook-Owners
.github/workflows/*                                                      @gsa-tts/GSA-TTS-Handbook-Owners

##################################################################
# TTS Offices
################################################################
## Office of Operations
pages/office-of-operations/*                                             @gsa-tts/Outreach-and-Marketing-Division

## Office of Acquisition
pages/office-of-acquisition/*                                            @gsa-tts/Acquisition-Division

## Office of Solutions
pages/office-of-solutions/*                                              @gsa-tts/Office-of-Solutions

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @gsa-tts/Centers-of-Excellence-Division

## Tools
pages/tools/*                                                            @gsa-tts/Technology-Operations-Division

# Training
pages/training-and-development/*                                         @gsa-tts/Business-Operations-Division

# Travel and Leave
pages/travel-and-leave/*                                                 @gsa-tts/Business-Operations-Division
